/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 html, body {min-height: 100%;
margin:0;}

.business-index-container{
    margin-top: 150px;
    padding: 10px;
}

.login-signup{
position: absolute;
}

.business-index-item{
    color: white;
}

ul {
  margin: 0;
  padding: 0;
      text-decoration: none;

}

img{
     width: 500px;
    height:auto;
}

// picture-url{
//      width: 100px;
//     height:auto;
// }



.nav-bar{
    // pushes login and sign up to fill in available space
    display: flex;
}


li{
     list-style-type: none;
    display:inline;
}

a{
    text-decoration: none;

}
.credit{
    color: white;

}

.business-index-item{
    display: flex;
}
.logo-name{
    color: black;
     text-shadow: 3px 0 0 #fff;
    font-family: helvetica -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
text-align: center;
// margin-top: 100px;
font-size: 40px;
// position: absolute;
// position: fixed;
// margin-left: 500px;
// position: sticky;

}
.nav-bar a{
    color:white;
    
}

.nav-bar li{
    margin-top: 30px ;

}
.review-li{
    margin-left: 170px;
}
.greeting-li{
    margin-left: 900px;
}
.credit{
    margin-top: 600px;
        // position: fixed;
    z-index: 20;
}

.business-index-link{
    background: white;
}

.single-business-map{
    padding: 10px
}
.right-half business-details{
   
}
.review-link {
    background: white;
    padding: 10px
}
.review-li{
// position: fixed;
}
.errors{
    color: red;
}

.business-index-container-div{
    display: flex;
    justify-content: space-around;
}

.single-business-show{
        display: flex;
}

.single-business-map{
    margin: 10px;
    margin-right: 250px;
    margin-left: 10px;
}
// .business-list-div{
// margin-right: 40px;
// }

.right-half-business-details{
    // margin-right: 50px;
    padding: 20px;
    background-color: white;
color: black;
border: 1px solid black;
width: 300px;
margin: 10px;
}

.index-image{
    max-height: 300px;
   max-width: 300px;
}

.search-index{
width: 400px;
   margin-left: 50px;
   margin-top: 80px;
   height: 480px;
   padding: 0 20px 20px 20px;
   color: white;
}
#map-container{
    width: 500px;
    height: 500px;
    
}
.yelp-logo{
    width: 60px;
    height: 60px;
    margin-top: 20px;
    margin-left: -10px;
    // border-color: white;
}
.front-page{
    background:  linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url(asset_path("dan-gold-4_jhDO54BYg-unsplash.jpg")) ;
    background-size: cover ;
    background-attachment: fixed;
	
  /* Set up proportionate scaling */
//   width: 100%;
//   height: auto;
	
  /* Set up positioning */
//   position: fixed;
//   top: 0;
//   left: 0;
     min-height: 100%;
     min-width: 100%;

}

.header-name{
    color: white;
}
.header-group{
    position: absolute;
}

.nav-bar li{
    display: inline;
    padding-right: 30px;
    padding-left: 20px;
}
.nav-bar a:hover{
    border-bottom: 2px solid white;
}
.login-form-container{
text-align: center;
color:black;
background-color: white;
width: 200px;
margin: auto auto;
padding: 30px;
// position: fixed;
margin-left: 500px;
margin-top: 120px;
}



.business-index-container{
     border: 1px solid black;
     margin: 10px;
     margin-top: 80px;
     background-color: white;
   width: 400px;
   box-sizing: border-box;
   display: inline-block;
   justify-content: space-between;
}

.business-index-item{
         border: 1px solid black;
              color: black;


}


 .header-link{
    text-decoration: none;
 }

.business-index-container img{
    height: 200px;
   width:200px;
}